* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background: dimgray;
    color: white;
}

#title-div {
    margin-bottom: 10px;
}

#img-div {
    background: whitesmoke;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 80%;
}

#image {    
    display: block;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    max-width: 700px;
    width: 100%;
}

#tribute-info {
    max-width: 700px;
    width: 100%;
    margin: 10px auto;
}

ul {
    margin-top: 10px;
    text-align: left;
}

li {
    margin-bottom: 10px;
}

#quote {
    max-width: 700px;
    margin: 10px auto;
    font-style: italic;
}